/* base */
body {
    color: #222;
    width: 100%;
    height: 100%;
}
a, a:hover, a:active, a:focus {
    color: #428bca;
    text-decoration: none;
    outline: 0px;
}

/* big background image */
#bg-block { 
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    background: url(assets/img/bg-girl.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -webkit-filter: blur(5px);
}

/* frame */
#main-content-block {
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 5;
    min-width: 100%;
    min-height: 100%;
}
#main-content-inner {
    width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}
#girl-photo-block {
    width: 600px;
    float: left;
    visibility: hidden;
}
.image-frame {
    height : 570px;
    width : 570px;
    line-height : 570px;
    text-align : center;
    overflow: hidden;
}
.image-frame img {
    width : 570px;
    vertical-align : middle;
}
.image-frame-small {
    height : 350px;
    width : 350px;
    line-height : 350px;
    text-align : center;
    overflow: hidden;
}
.image-frame-small img {
    width : 350px;
    vertical-align : middle;
}

/* top sites block */
.top-sites-block-fixed {
    position: fixed; 
    top: -300px;
    left: 100px;
    visibility: hidden; 
}
.boxgrid h3 {
    margin: 10px 10px 0 10px;
    color: #fff;
    font-weight: bold; 
}
.boxgrid h3 a {
    color: #fff;
    cursor: pointer;;
}
.boxgrid { 
    width: 250px; 
    height: 200px; 
    margin:10px; 
    float:left; 
    background:#161613; 
    border: solid 2px #8399AF; 
    overflow: hidden; 
    position: relative; 
}
.boxgrid img { 
    position: absolute; 
    top: 0; 
    left: 0; 
    border: 0; 
}
.boxgrid p { 
    padding: 0 10px; 
    color:#afafaf; 
    font-weight:bold; 
    font:10pt "Lucida Grande", Arial, sans-serif; 
}   
.boxcaption { 
    float: left; 
    position: absolute; 
    background: #000; 
    height: 100px; 
    width: 100%; 
    opacity: .8; 
}
.captionfull .boxcaption {
    top: 200;
    left: 0;
}

/* footer block */
#footer-block {
    position: fixed; 
    bottom: 0; 
    left: 0;
    z-index: 10;  
    min-width: 100%;
    background: rgba(242, 242, 242, 0.5);
    border-top: 1px solid #e4e4e4;
    font-size: small;
    line-height: 40px;  
}
.footer-right {
    margin-right: 30px;
    float: right;
    white-space: nowrap;
    color: #666;
}
.footer-link {
    color: #666;
    text-decoration: none;
    white-space: nowrap;
}

/* polaroid */
.polaroid {
    background: #fff;
    padding: 15px 15px 10px;
    text-align: center;
    font-family: "Marker Felt", sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
.polaroid-rotate-m2 {
    -webkit-transform: rotate(-2deg);
}
.polaroid-rotate-m1 {
    -webkit-transform: rotate(-1deg);
}
.polaroid-rotate-p2 {
    -webkit-transform: rotate(2deg);
}
.polaroid-rotate-p1 {
    -webkit-transform: rotate(1deg);
}

/* search-bar-block */
#search-bar-block {
    width: 400px;
    float: left;
    visibility: hidden;
    margin-left: 10px;
}
#speech-input-field {
    width: 350px;
    height: 25px;
    padding: 8px 15px 10px 15px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: 0;
    margin: 15px;
}
#speech-input-field::-webkit-input-placeholder {
    font-size: 20px;
}

/* switch button */
.switch-button-background {
    margin-top: 11px;
    margin-left: 5px;
}
.switch-button-label.off {
    color: #666;
}

/* logo */
#logo {
    font-size: 20px;
    margin-right: 6px;
    color: #777;
    text-shadow: 0 1px 0 #999;
    float: right;
    font-weight: bold;
}

/* header block */
#header-block {
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 10;  
    min-width: 100%;
    background: rgba(242, 242, 242, 0.5);
    border-top: 1px solid #e4e4e4;
    font-size: small;
    line-height: 40px;
    height: 40px;  
    visibility: hidden; 
}

.header-link-block-left {
    float: left;
    width: 110px;
    margin: 6px;
}
.header-link-block-right {
    float: right;
    width: 110px;
    margin: 6px;
}
.header-link {
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
   border-radius: 4px;
   height: 28px;
   line-height: 28px;
   text-align: left;
   font-size: 14px;
   color: #eee;
   display: block;
   background: rgba(102, 102, 102, 0.5);
}
a.header-link:hover {
   color: #eee;
   background: rgba(153, 153, 153, 0.5);
   text-decoration: none;
}
.header-link .header-icon {
   background: #000;
}
.header-link img {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   border-radius: 3px;
   margin: 6px 8px 0 5px;
   float: left;
   width: 16px;
   height: 16px;
}

/* loading */
.spinner {
    top: 5px;
    left: 48%;
    position: fixed;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}
.spinner > div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block; 
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* utility */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
.text-center {
    text-align: center;
}
